* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.q {
  color: rgb(20, 20, 20);
}

ul {
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(245, 247, 241);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("/public/bg.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  text-decoration: none;
  color: black;
}
